.aside {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: flex-end;
    padding:10px;
    gap:10px;
    height: 65vh;
}

body {
    background-color: rgb(179, 206, 197);
}

.setHeight{
    height: 80vh;
}

.box {
    align-content: center;
    text-align: center;
    border: gray 20px inset;
}

.playMat {
    height:100%;
    flex:5;
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

.colFlex {
    display: flex;
    flex-direction: column;
}

.playArea {
    display: flex;
    flex: 3;
    font-stretch: extra-expanded;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    gap: 60px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    display: flex;
    flex: 1;
    gap:5px;
    height:30px;
    width:20px;
}

.btnBox {
    display: flex;
    flex: 1;
    gap: 10px;
    padding:10px;
}

.difficulty {
    border-radius: 10px;
    border: gray solid 8px;
    flex:1;
    align-self: justify;
}

.easy {
    background-color: green;
}

.medium {
    background-color: yellow;
}

.hard {
    background-color: orange;
}

.expert {
    background-color: red;
}

.diffCat {
    display:flex;
    flex:3;
}

.flexOne {
    flex:1;
}

.justify {
    align-content: justify;
}

#userNum {
    width:40%;
    align-self: center;
    font-size: 165%;
    resize: none;
    /* Target number input type and disable spinner */
}

#submitButton {
    width: 20%;
    height: 4em;
    align-self: center;
    margin: 15px;
}

#diffDescrip {
    align-self: center;
    font-size: large;
}

.invisText {
    color: rgb(179, 206, 197);
}

.hidden {
    display:none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

/* Remove up and down spinners for Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}